<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>

        <provider
            android:name=".Dialogs.CustomDialogProvider"
            android:authorities="${applicationId}.CustomDialogProvider"
            android:exported="false"
            android:enabled="true"
            />

    </application>
</manifest>